html {
    font-family: "Nunito Sans", sans-serif;
    --primary-color-light:#ffedd5;
    --primary-color-dark:#f97316;
    --orange:#ea580c;
    --light-orange:#fed7aa;
    --backgroud-color:#FAFAF9;
    --background-block:#d6d3d144;
    --text-color:#1c1917;
    --grey-1:#44403c;
    --grey-2:#57534e;
    --light-grey:#78716c;
    --light-grey-2:#d6d3d1;
    --green:#65a30d;

    --offset: 60px;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration:  none;
}

.header-background {
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-position:  center top;
    background-size: cover;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

.logo-school {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-left: 20px;
}

.menu-items {
    width: calc(100% / 3 - var(---offset)); 
}

.nav-section{
    text-align: center;
    color: var(--white);
    font-size: 120%;
    font-weight: 300;
    padding-left:20px;
    padding-right:20px;

    transition: all 50ms linear;
}

.nav-section:hover{
    font-weight: 600;
    font-size: 130%;
}

.phone {
    font-size: 120%;
    
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title-items{
    width: calc(100% / 12 * 12 - var(---offset)); 
    margin: calc(var(--offset) / 2);
    
}
.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-main {
    font-size: 350%;
    font-weight: 600;
    padding-top: 100px;
    text-align: left;
    color: var(--grey-1);
}

.text-main {
    font-size: 120%;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 35px;
    color: var(--grey-2);
}

.button-main {
    background-color: var(--primary-color-dark);
    font-size: 120%;
    color: var(--backgroud-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.button-main:hover {
   background-color: var(--orange);
}

.button-secondary {
    background-color: var(--primary-color-light);
    font-size: 100%;
    color: var(--primary-color-dark);
    padding-left:30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: var(--primary-color-light);
    margin: 0 auto;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: var(--light-orange);
}

.title-second {
    font-size: 200%;
    padding-top: 80px;
    padding-bottom: 70px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.block-advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 10px;   
}

.advantage-items {
    padding: 20px 20px;
    background-color: var(--background-block);
    text-align: center;
    border-radius: 10px;

    width: calc(100% / 3 - var(--offset));
	margin: calc(var(--offset) / 2);
}
 
.title-advantage {
    padding-top: 10px;
    font-size: 120%;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 15px;
}

.text-advantage {
   
    font-size: 100%;
    font-weight: 400;
    text-align: center;
    color: var(--grey-2);
}

.icons {
    
    background-color: var(--primary-color-dark);
    color: var(--backgroud-color);
    padding: 10px;
    font-size: 150%;
    border-radius: 5px;
}

.block-description{
    width: calc(100% / 12 * 6 - var(--offset));
	margin: calc(var(--offset) / 2);

}

.title-text-description {
    font-size: 150%;
    font-weight: 600;
    color: var(--text-color);
    padding-top: 100px;
    padding-bottom: 40px;
}

.text-description {
    color: var(--light-grey);
    font-size: 100%x;
    font-weight: 400;
    padding-bottom: 40px;
}

.image-people {
    background-image: url(img/group-people.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 6 - var(--offset));
	margin: calc(var(--offset) / 2);

    
}

.form-background{
    background-color: var(--primary-color-light);
}


.title-text{
    font-size: 200%;
    padding-top: 100px;
    padding-bottom: 10px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.text-form {
    color: var(--light-grey);
    font-size: 120%;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
}

.form {
    margin: 70px auto;
    display: flex;
    justify-content: center;
    

    
}

.form-registration {
    height: 45px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    margin-right: 10px;

}


.review-background {
    background-color: var(--backgroud-color);
}
.block-review{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.review {
    width: 50%;
    border-bottom: 1px solid var(--light-grey-2);
    margin-bottom: 15px;
}

.text-name {
    padding-top: 30px;
    font-size: 120%;
    font-weight: 400;
    text-align: start;
    color: var(--text-color);
    padding-bottom: 15px;
}

.text-review {
    font-size: 100%;
    font-weight: 300;
    text-align: start;
    color: var(--text-color);
    padding-bottom: 20px;
}




.price-subscription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--light-grey-2);

    width: calc(100% / 3 - var(--offset));
	margin: calc(var(--offset) / 2);

}

.text-month {
    color: var(--primary-color-dark);
    font-size: 110%;
    text-align: start;
    padding-bottom: 10px;
}

.text-cost {
    color: var(--text-color);
    font-size: 130%;
    font-weight: 600;
    text-align: start;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding-bottom: 10px;
    color:var(--light-grey);
    font-size: 90%;
    text-align: start;
    line-height: 1.5;
}

.check {
    color: var(--green);
    padding-right: 10px;
    font-weight: 400;
}

.footer-background{
    background-color:var(--light-grey-2);
}   

.block-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    color: var(--grey-2);

    width: calc(100% - var(--offset));
    margin: calc(var(--offset) / 2);
}



.link {
    color:var(--grey-2);
    font-size: 170%;
    padding: 10px;
    cursor: pointer;

}

.link:hover {
    color: #44403c;
}

.phone-footer{
    padding-right: 10px;
    font-size: 110%;
}
@media (max-width:600px){
    .header-background {
        background-image: linear-gradient(rgba(9, 22, 39, 0.26), rgba(255, 244, 244, 0.205)), url(img/hero.jpg);
        width: 100%;
    }
    .title-items{
        width: calc(100% / 12 * 6);  
    }
    .title-second{
        font-size: 250%;
    }
    .row{
        flex-direction: column;
    }
    .advantage-items{
        width: calc(100% - var(--offset));
        padding: 40px 40px;
    }

    .block-description{
        width: calc(100% / 12 * 12 - var(--offset));
    
    }
    .image-people {
        width: 100%;
        height: 500px;
        margin: 0 auto;

    }
    .form-background{
        width: 100%;
    }
    .title-text{
        font-size: 300%;
    }
    .form {
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }
    .form-registration {
        margin-bottom: 20px;
    }
    .review {
        width: 80%;

    }
    .price-subscription {
    
        width: 90%;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
        margin: calc(var(--offset) / 2);
    }
    .footer-background{
       width: 100%;
    }
    .block-footer{
        flex-direction: column;

}
}